* {
    font-family: "Comfortaa", sans-serif;
}

html,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5b5b;
}

body {
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
    color: inherit
}

input {
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ececec;
    line-height: 1.5rem;
    color: #444444;
}

/*
    HEADER
*/

header {
    background-color: #008484;
    height: 70px;
}

header * {
    color: #fff;
}

header h1 {
    margin-top: 10px;
}

header h1 a{
    color: #fff;
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

header ul li {
    float: left;
    position: relative;
}

header ul li a {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    padding: 20px
}

header ul li a:hover {
    background-color: #006669;
    transition: 0.5s;
    color: #fff;
}

header ul li ul {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}

header ul li:hover ul {
    display: block;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    background-color: #008489;
    color: white;
}

/*
    SLIDER
*/

.slider-title {
    text-align: center;
    padding: 30px 0;
}

.carousel {
    height: 400px;
}

.carousel-inner, .carousel-item {
    height: 400px;
    border-radius: 4px;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 500;
    background-color: #000000;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}

.carousel-caption-hack {
    position: absolute;
    right: 0;
    bottom: 0.05rem;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
}

.carousel-caption h5 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.carousel-caption h5 a:hover {
    text-decoration: underline;
}

/*
    Main
*/

.main-content h2 {
    margin: 30px 0;
}

.main-content .post {
    margin-bottom: 30px;
}

.main-content .post_text {
    background-color: #fff;
    padding: 8px;
    border-radius: 3px;
}

.main-content .post_text h3 {
    margin: 14px 0;
}

.main-content .post_text h3 a:hover{
    text-decoration: underline;
    color: #5c5b5b;
}

.main-content .post_text i {
    margin: 0px 14px 14px 0px;
}

/*
    Sidebar
*/

.search {
    margin-top: 100px;
}

.sidebar .section {
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.sidebar .topics ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.sidebar .topics ul li a {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #5c5b5b;
    font-size: 1.2em;
}

.sidebar .topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/*
    Footer
*/

.footer {
    background-color: #303036;
    color: #d3d3d3;
    position: relative;
}

.footer .footer-section {
    padding: 22px;
}

.footer h3, .footer h4 {
    color: white;
}

.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
    color: #fff;
    text-decoration: none;
}

.footer .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all 0.3s;    
}

.footer .contact-form .contact-input {
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0.9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background-color: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
}

.footer .footer-bottom {

    background-color: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

/*
    Single post
*/

.single_post .info {
    margin: 20px 0;
}

.single_post .info i {
    display: inline-block;
    margin-right: 20px;
}

/*
    Reg form
*/

.reg_form h2 {
    text-align: center;
    margin: 30px 0;
}

.reg_form input {
    height: 3.3rem;
}

.reg_form a {
    font-size: 1.2em;
    transition: all 0.3s;
    color: #5c5b5b;
    text-decoration: none;
    margin-left: 60px;
}

.reg_form a:hover {
    margin-left: 55px;
    transition: all 0.3s;
}

.log_form {
    margin: 150px auto;
}